body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto',sans-serif;
    padding: 0 48px;
    flex: 1;
    background-color: black;
}

.container {
    display: flex;
    flex: 1;
    height: 200px;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 48px;
    height: 24px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937
}

.info,.banner {
    background-color: white;
}

.quote {
    background-color: #e5e7eb;
}