body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto',sans-serif;
    flex: 1;
    background-color: black;
}

.container {
    display: flex;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 48px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

h2 {
    margin: 12px 0;
}

.cards {
    display: flex;
    margin-bottom: 24px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    gap: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 128px;
}

.card-image {
    background-color: #f9faf8;
    border: 2px solid #3882f6;
    border-radius: 12px;
    width: 96px;
    height: 96px;
    margin-bottom: 8px;
}

.card-text {
    display: flex;
    flex-basis: 64px;
    font-size: 10px;
    flex-wrap: wrap;
    text-align: center;
    color: #1f2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}

.hero-left {
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: #f9faf8;
    background-color:#3882f6;
    border: 0;
    border-radius: 4px; 
    width: 96px;
}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    color: #f9faf8;
    width: 300px;
    height: 200px;
}

.info,.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9faf8;
    padding: 0px 48px;
}

.quote {
    background-color: #e5e7eb;
    padding: 0px 48px;
}